@{
    ViewData["Title"] = "Beer Details";
}

@model BeerResponseDto
<h1><span id="beer-name">@Model.Name</span></h1>
<p><strong>ABV:</strong> <span id="beer-abv">@Model.Abv</span></p>
<p><strong>Style:</strong> <span id="beer-style">@Model.Style</span></p>
<p><strong>User:</strong> <span id="beer-user">@Model.User</span></p>
<p><strong>Average Rating:</strong> <span id="beer-averageRating">@Model.AverageRating</span></p>
<h3>Comments:</h3>
<ul id="beer-comments">
    @foreach (var comment in Model.Comments)
    {
        <li>@comment</li>
    }
</ul>
<a href="/Beers/Edit/@ViewData["id"]" class="nav">Edit</a>
<a href="/Beers/Delete/@ViewData["id"]" class="nav">Delete</a>
