@model IEnumerable<AspNetCoreDemo.Models.Beer>

@{
    ViewData["Title"] = "Beers";
}

<h2>Search Beers</h2>

<form method="get" asp-action="Index" class="search-form">
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Name" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="style" placeholder="Style" />
    </div>
    <div class="form-group">
        <input type="number" class="form-control" name="minAbv" step="0.1" placeholder="Min ABV" />
    </div>
    <div class="form-group">
        <input type="number" class="form-control" name="maxAbv" step="0.1" placeholder="Max ABV" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="table">
    <h2 class="header-cell">Beers</h2>

    <div class="row-group">
        @if (Model.Any())
        {
            @foreach (var beer in Model)
            {
                <div class="row">
                    <div class="cell">
                        <a href="/Beers/Details/@beer.Id" class="beer-link">@beer.Name</a>
                        <div class="beer-details-general">
                            <img src="@beer.Image" alt="Beer Image" class="beer-image">
                            <div class="beer-short-details">
                                <p>ABV: @beer.Abv %</p>
                                <p>Style: @beer.Style.Name</p>
                                <p>Ratings: @beer.Ratings.Count</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="cell">
                    <p>No beers currently added</p>
                </div>
            </div>
        }
    </div>
</div>

<div class="pagination">
    <a href="?pageNumber=@Math.Max(ViewBag.CurrentPage - 1, 1)&pageSize=@ViewBag.PageSize&Name=@ViewBag.Name&Style=@ViewBag.Style&MinAbv=@ViewBag.MinAbv&MaxAbv=@ViewBag.MaxAbv&SortBy=@ViewBag.SortBy&SortOrder=@ViewBag.SortOrder" 
       class="btn-default@(ViewBag.CurrentPage == 1 ? "-disabled" : "")">Previous</a>

    @foreach (var page in ViewBag.PageNumbers)
    {
        if (page is not null)
        {
            <a href="?pageNumber=@(page)&pageSize=@ViewBag.PageSize&Name=@ViewBag.Name&Style=@ViewBag.Style&MinAbv=@ViewBag.MinAbv&MaxAbv=@ViewBag.MaxAbv&SortBy=@ViewBag.SortBy&SortOrder=@ViewBag.SortOrder" 
               class="@(page == ViewBag.CurrentPage ? "btn-default-disabled" : "btn-default")">@(page)</a>
        }
        else
        {
            <span>...</span>
        }
    }
    
    <a href="?pageNumber=@Math.Min(ViewBag.CurrentPage + 1, ViewBag.TotalPages)&pageSize=@ViewBag.PageSize&Name=@ViewBag.Name&Style=@ViewBag.Style&MinAbv=@ViewBag.MinAbv&MaxAbv=@ViewBag.MaxAbv&SortBy=@ViewBag.SortBy&SortOrder=@ViewBag.SortOrder" 
       class="btn-default@(ViewBag.CurrentPage == ViewBag.TotalPages ? "-disabled" : "")">Next</a>
</div>

<footer>
    <small>©️ Copyright 2024, BeerOverflow</small>
</footer>
